.App {
  font-family: sans-serif;
}

select {
  display: block;
  width: 50%;
  font-size: 20px;
}

p {
  font-size: 20px;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  display: block;
  text-decoration: none;
}

label {
  display: block;
}

a {
  text-decoration: none;
}

.error {
  color: red;
  font-style: italic;
}