body {
  margin: 0;
  width: 100%;
}

.App {
  font-family: sans-serif;
}

select {
  display: block;
  width: 50%;
  font-size: 20px;
}

p {
  font-size: 20px;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  display: block;
  text-decoration: none;
}

label {
  display: block;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.error {
  color: red;
  font-style: italic;
}

@media (max-width: 800px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 15px; 
  }

  .showBig {
    display: none;
  }
}

@media (min-width: 800px) {
  .showSmall {
    display: none;
  }
}

@media (min-width: 1100px) {
  select {
    font-size: 25px;
  }

  label {
    font-size: 26px;
    font-weight: bold;
  }

  h1 {
    font-size: 40px;
    margin: 20px 0;
  }

  div {
    font-size: 20px;
  }
}